.category-item-manage-component {
  .category-item-handle {
    position: absolute;
    margin-left: -70px;
    padding: 15px 35px;
    font-size: 1.2em;
  }

  display: flex;
  border: 1px solid #000;
  min-height: 10px;
}
