.category-item-manage-component {
  .category-item-handle {
    position: absolute;
    margin-left: -60px;
    padding: 10px 30px 20px;
    font-size: 0.8em;
  }

  display: flex;
  border: 1px solid #000;
  min-height: 10px;
}
