.category-item-manage-component {
  display: flex;

  .category-item-handle {
    position: absolute;
    margin-left: -27.5px;
    margin-top: 20px;
    font-size: 0.8em;
  }

  .remove-item-button {
    position: absolute;
    margin-left: -47.5px;
    margin-top: 20px;
    i {
      font-size: 0.8em;
    }
  }

  .category-item-manage-container {
    width: 100%;
    font-size: 0.7em;

    .input-text-component {
      margin: 0;
    }
  }
}
