{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@/Containers": "./src/containers",
          "@/Pages": "./src/pages",
          "@": "./src",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
