{
  "presets": [["@babel/preset-env", { "useBuiltIns": "entry" }], "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@/TestComponent": "./src/components/TestComponent",
          "@/Components": "./src/components",
          "@/Reducers": "./src/store/modules",
          "@/Containers": "./src/containers",
          "@/Pages": "./src/pages",
          "@": "./src",
          "package.json": "./package.json",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
