.category-manage-component {
  .category-title {
    width: 100%;
    display: flex;
    align-items: center;

    button {
      .content {
        font-weight: normal;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}
