.category-manage-component {
  // padding-left: 40px;
  padding-bottom: 0;

  .category-handle {
    position: absolute;
    margin-left: -55px;
    padding: 30px 27.5px;
    font-size: 1.2em;
  }

  .category-handle,
  .remove-category-button {
    opacity: 0;
    transition: 0.2s;
  }

  &:hover,
  &:active {
    .category-handle,
    .remove-category-button {
      opacity: 1;
    }
  }

  .remove-category-button {
    position: absolute;
    margin-left: -50px;
    margin-top: 32px;
    i {
      font-size: 1.2em;
    }
  }

  .add-item-container {
    padding-bottom: 60px;

    .add-item-button {
      position: absolute;
      margin-left: -50px;
      margin-top: 2.5px;
      i {
        font-size: 1.2em;
      }
    }
  }
}
