.category-manage-component {
  & > .input-text-component {
    span {
      &::before {
        content: '::';
        margin-left: -35px;
        padding: 30px 15px 30px 10px;
        font-size: 2em;
      }
    }
  }

  .button-group {
    display: flex;
    button {
      .content {
        font-weight: normal;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}
