$select-item-color: #2185d0;
$error-item-color: #e7736c;

div.modal.active {
  position: relative;
  .content {
    padding: 60px 12.5% 75px;

    div.swiper-content > div > div {
      h3 {
        padding: 0 0 5px;
        font-size: 2em;
        justify-content: center;
      }

      & > div.horizontal.divider {
        margin: 20px 0;
      }

      .input-form {
        display: flex;
        flex-direction: column;

        & > label {
          position: relative;
          padding: 0;
          margin: 5px 0;
          cursor: text;

          input {
            width: 100%;
            border: none;
            padding: 10px 0;
            margin-top: 15px;
            outline: none;
            border-bottom: 1px solid #eee;

            &:focus,
            &:active {
              border-bottom-color: $select-item-color;

              & + span {
                color: $select-item-color;
              }
            }

            &.error {
              border-bottom-color: $error-item-color;

              & + span {
                color: $error-item-color;
              }
            }

            &::placeholder {
              opacity: 1;
              transition: all 0.2s;
            }

            &:placeholder-shown:not(:focus)::placeholder {
              opacity: 0;
            }

            &:placeholder-shown:not(:focus) + * {
              font-size: 120%;
              opacity: 0.7;
              top: 15px;
            }
          }

          span {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 75%;
            opacity: 1;
            transition: all 0.2s;
            line-height: 25px;
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: bold;
          }
        }
      }

      .checkbox-form {
        display: flex;
        align-items: center;

        input {
          width: 20px;
          height: 20px;
          padding: 2px;
          border: none;
          outline: none;
          opacity: 0;
          position: absolute;

          &:checked + label:before {
            background: $select-item-color;
            box-shadow: inset 0px 0px 0px 3px #fff;
            border: 2px solid $select-item-color;
          }
        }

        label {
          color: #333;
          &::before {
            content: '';
            background: #fff;
            border: 2px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            padding: 2px;
            margin-right: 8px;
            text-align: center;
            box-shadow: inset 0px 0px 0px 10px #fff;
            transition: all 0.2s;
          }
        }
      }

      .account-helper {
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: space-between;
      }

      &.login-container {
        .local-login {
          button {
            &.login-button {
              margin-top: 15px;
            }
          }
        }

        .social-login {
          button:not(:nth-child(1)) {
            margin-top: 10px;
          }
        }
      }

      &.signup-container {
        a.policy-link {
          margin-top: 50px;
        }
      }
    }
  }

  a:not(.swiper-pre-icon) {
    display: flex;
    align-items: center;
  }

  button {
    padding: 13px 0;
    border-radius: 0;
  }

  .close {
    top: 1em;
    right: 1em;
    color: #999;
  }
}

.swiper-pre-icon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  a {
    float: left;
    width: 25px;
  }

  h3 {
    margin-top: 0;
  }

  &::after {
    content: ' ';
    width: 25px;
  }
}
