$select-item-color: #2185d0;

div.modal.active {
  position: relative;
  .content {
    padding: 60px 12.5% 75px;

    div.swiper-content > div > div {
      h3 {
        padding: 0 0 5px;
        font-size: 2em;
        justify-content: center;
      }

      & > div.horizontal.divider {
        margin: 20px 0;
      }

      .checkbox-form {
        display: flex;
        align-items: center;

        input {
          width: 20px;
          height: 20px;
          padding: 2px;
          border: none;
          outline: none;
          opacity: 0;
          position: absolute;

          &:checked + label:before {
            background: $select-item-color;
            box-shadow: inset 0px 0px 0px 3px #fff;
            border: 2px solid $select-item-color;
          }
        }

        label {
          color: #333;
          &::before {
            content: '';
            background: #fff;
            border: 2px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            padding: 2px;
            margin-right: 8px;
            text-align: center;
            box-shadow: inset 0px 0px 0px 10px #fff;
            transition: all 0.2s;
          }
        }
      }

      .account-helper {
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: space-between;
      }

      &.login-container {
        .local-login {
          button {
            &.login-button {
              margin-top: 15px;
            }
          }
        }

        .social-login {
          button:not(:nth-child(1)) {
            margin-top: 10px;
          }
        }
      }

      &.signup-container {
        a.policy-link {
          margin-top: 50px;
        }
      }
    }
  }

  a:not(.swiper-pre-icon) {
    display: flex;
    align-items: center;
  }

  button {
    padding: 13px 0;
    border-radius: 0;
  }

  .close {
    top: 1em;
    right: 1em;
    color: #999;
  }
}

.swiper-pre-icon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  a {
    float: left;
    width: 25px;
  }

  h3 {
    margin-top: 0;
  }

  &::after {
    content: ' ';
    width: 25px;
  }
}
