@import '../../Layout.config.scss';

.container {
  margin-top: $header-height;

  & > div {
    padding: 20px 20px 40px;
    margin: 20px;

    &:nth-child(1) {
      padding-top: 40px;
    }

    &:not(:nth-last-child(1)) {
      border-bottom: 1px solid #eee;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
