::selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}
